* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    background-color: #F5F1E7;
}

/* -------------------------------- HOMEPAGE HTML -------------------------------- */
h1{
    font-size: 70px;
    padding-top: 200px;
    padding-bottom: 100px;
}

#options {

    padding-bottom: 205px;
}

a {
    color:black;
}

/* ---------------------------------- ABOUT HTML --------------------------------- */
header {
    padding: 20px;
}

header h1 {
    font-size: 40px;
   padding-top: 10px;
   display: inline-block;

}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
}

nav h1 {
    justify-content: left;
}

li {
    list-style: none;
    float: right;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.container {
 display: flex;
 flex-direction: column;
}

.about-me img {
    max-height: 400px;
    margin-left: 100px;
    margin-right: 100px;
    float: left;
}

h2 {
 font-size: 20px;
 text-align: center;
 line-height: 1.7;
 margin-right: 100px;
 padding-top: 50px;
 
}

/* --------------------------------- CONTACT HTML -------------------------------- */

.section-info {
    display: flex;
    justify-content:center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 400px;
    justify-content: space-between;
    margin-right: 50px;
}

/* a:hover {
        transform: scale(1.2);
} */

/* -------------------------------- WORK HTML ------------------------------- */

.my-work h2 {
    font-size: 20px;
}


.text-block {
    position: absolute;
    left: 0pt;
    height: 30px;
    padding-left: 7px;
    padding-right: 5px;
    padding-top: 5px;
    background-color: #f4f2ed;
    color: black;
}

.text-block h3 {
    font-size: 15px;
}

  /* DINNER & DRINKS */
  .dinner-drinks-img {
    height: 200px;
    width: 500px;
    background-image: url("images/dinner-drinks.png");
    background-size: cover;
    background-position: center top;
    display: block;
    margin-right: 0;
    margin-bottom: 15px;
    border: .5px solid black;
}

.dinner-drinks-img:hover {
    opacity: .5;
}

/* HORISEON */
.horiseon-img {
    height: 200px;
    width: 500px;
    background-image: url("images/horiseon.png");
    background-size: cover;
    background-position: center-top;
    display: block;
    border: .5px solid black;
    margin-bottom: 15px;

}

.horiseon-img:hover {
    opacity: .5;
}

/* RUN BUDDY */
.run-buddy-img  {
    height: 200px;
    width: 500px;
    background-image: url("images/run-buddy.png");
    background-size: cover;
    background-position: center-top;
    display: block;
    border: .5px solid black;
    margin-bottom: 15px;
}

.run-buddy-img:hover {
    opacity: .5;
}


/* WEATHER DASHBOARD */
.weather-dashboard-img {
    height: 200px;
    width: 500px;
    background-image: url("images/weather-dashboard.png");
    background-size: cover;
    background-position: center-top;
    display: block;
    border: .5px solid black;
    margin-bottom: 15px;
}

.weather-dashboard-img:hover {
    opacity: .5;
}

/* WORK DAY SCHEDULER  */
.work-day-scheduler-img {
    height: 200px;
    width: 500px;
    background-image: url("images/work-day-scheduler.png");
    background-size: cover;
    background-position: center-top;
    display: block;
    border: .5px solid black;
    margin-bottom: 15px;
}

.work-day-scheduler-img:hover {
    opacity: .5;
}
