* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    background-color: #F5F1E7;
}

/* -------------------------------- HOMEPAGE HTML -------------------------------- */
h1{
    font-size: 70px;
    padding-top: 200px;
    padding-bottom: 100px;
}

#options {

    padding-bottom: 205px;
}

a {
    color:black;
}

/* ---------------------------------- ABOUT HTML --------------------------------- */
header {
    padding: 20px;
}

header h1 {
    font-size: 40px;
   padding-top: 10px;
   display: inline-block;

}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
}

nav h1 {
    justify-content: left;
}

li {
    list-style: none;
    float: right;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.container {
 display: flex;
 flex-direction: column;
}

.about-me img {
    max-height: 400px;
    margin-left: 100px;
    margin-right: 100px;
    float: left;
}

h2 {
 font-size: 20px;
 text-align: center;
 line-height: 1.7;
 margin-right: 100px;
 padding-top: 50px;
 
}

/* --------------------------------- CONTACT HTML -------------------------------- */

.section-info {
    display: flex;
    justify-content:center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 400px;
    justify-content: space-between;
    margin-right: 50px;
}

a:hover {
        transform: scale(1.2);
}

/* -------------------------------- WORK HTML ------------------------------- */

